* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 31, 31);

    font-family: 'Inter', sans-serif;
    color: white;
    text-shadow: black 1px 1px 3px;

    overflow: hidden;
    padding-top: 3em;
}


a:visited {
    text-decoration: none;
}

#exercise-title {
    font-size: 1.5em;
    margin-top: 60px;
    padding-left: 20px;
}

#exercise-difficulty {
    font-size: 1em;
    padding-left: 20px;
    margin-top: 10px;
}

.heading {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: bolder;
}



.description {
    width: 100%;
    padding: 10px;
    line-height: 1.8em;
    margin: auto;
    font-size: 1em;
    text-shadow: none;
    font-family: monospace;
    border-radius: 10px;
    padding: 20px;
    white-space: pre-wrap;   
    font-family: 'Inter', sans-serif;
}

.container {
    width: 80%;
}

.left-container {
    width: 50%;
    overflow: auto;
    height: 100vh;
}

.right-container {
    width: 50%;
    position: fixed;
    right: 0;
    top: 50px;

}

.exercise-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
   
}


#code-input {
    font-size: 1.2em;
    font-family: monospace;
    background-color: rgba(23, 23, 23, 0.92);
    width: 120%;
    height: 50vh;
    color: white;
    border: none;
    padding: 2em;
    text-decoration: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow: auto;
    display: block;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: right;
    margin: 10px 50px 10px 0;
}

.run-button {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    margin-right: 10px;

    background-color: rgb(68, 68, 68);
    color: rgb(196, 196, 196);
    font-size: 1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.run-button:hover {
    background-color: rgb(110, 110, 110);
    border: 1px solid black;
}

.run-button:active {
    background-color: rgb(165, 165, 165);
}


.test-button {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    margin-right: -30%;

    background-color: rgb(37, 78, 11);
    color: rgb(196, 196, 196);
    font-size: 1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.test-button:hover {
    background-color: rgba(1, 132, 29, 0.7);
    border: 1px solid black;
}

.test-button:active {
    background-color: rgba(0, 192, 61, 0.5);
}


.container h2 {
    margin-top: 0;
    margin-left: 20%;
    font-size: 1.5em;
    text-align: center;
}

#output {
    font-size: 1.2em;
    width: 120%;
    height: 30vh;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.9);
    color: green;
    border-radius: 10px;
    margin-top: 10px;
    overflow: auto;
}

#exercise-intended-output {
    font-size: 1.2em;
    width: 90%;
    margin: 0 20px 50px;
    height: 12em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.9);
    color: green;
    border-radius: 10px;
    overflow: auto;
}


#exercise-example {
    font-size: 1.1em;
    width: 90%;
    margin-left: 20px;
    height: 21em;
    padding: 2em;
    background-color: rgba(39, 38, 38, 0.9);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 10px;
    text-shadow: none;
    overflow: auto;
}



::-webkit-scrollbar {
   background-color: black;
}

::-webkit-scrollbar-track {
    background-color: rgb(112, 112, 112);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(24, 24, 24);
}

::-webkit-scrollbar-corner {
    background-color: rgb(112, 112, 112);
}